<html>
<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
	
<body style="background-color: #333333; color: white;">
	

	
	<div class="container">
		<h1>{{keyword}} Practice Exam</h1>
	{% for q in questions%}
		<strong>Question</strong>	{{q[0]}} <br>
		<strong>Answer</strong> {{q[1]}} <br><br>
	{% endfor %}
	</div>

    
 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
</body>
</html>
